* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 200vh;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-size: 2em;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: #0dff00;
    text-shadow: 0 0 20px rgba(0, 255, 8, 8);
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul .li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul .li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0dff00;
    transition: width 0.3s ease;
}

header nav ul .li:hover::after {
    width: 100%;
}

.container {
    position: relative;
    height: 100vh;
    background: linear-gradient(100deg, rgba(0, 0, 0, 1)10%, rgba(66, 130, 60, 1) 50%, rgba(0, 0, 0, 1) 100%);
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 255, 8, 0.874) 0, rgb(0, 0, 0, 0) 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 2;
}


.active {
    opacity: 1;
    transform: translateX(0);
}

.product-img {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.product-img img {
    max-width: 90%;
    max-height: 70%;
    filter: drop-shadow(0 0 20px rgba(0, 255, 8, 0.5));

    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.5s;
}

.active .product-img img {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;
}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

.product-tag {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    color: #0dff00;
    letter-spacing: 2px;
    margin-bottom: 10px;

    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.6s ease;
    transition-delay: 0.7s;
}

.active .product-tag {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.7s ease 0.7s, opacity 0.7s ease 0.7s;
}

.product-name {
    font-size: 4.5em;
    font-size: "Orbitron", sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;

    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.6s ease;
    transition-delay: 0.7s;

}

.active .product-name {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.7s ease 0.7s, opacity 0.7s ease 0.7s;
}

.description {
    font-size: 1.2em;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 600px;

    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transition-delay: 0.7s;

}

.active .description {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;
}

.btn {
    padding: 14px 16px;
    margin-top: 40px;
    background: linear-gradient(90deg, rgba(0, 255, 8, 0.874), rgb(0, 0, 0, 0.5));
    color: #fff;
    border-radius: 30px;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(90deg, rgb(0, 255, 8, 0.4), rgb(0, 0, 0, 0.4));
    transform: scale(1.2);
    transition: 0.3s;
}

.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.arrow-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(35, 182, 15);
}

.arrow-btn:hover {
    background-color: rgba(255, 255, 255, 0.455);
    border: 1px solid rgb(21, 255, 0);
    color: #00000093;
    transform: scale(1.1);
}

.indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 5;
}

.numbers {
    font-family: "Orbitron", sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.3);
}

.dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.dot.active {
    background-color: rgb(21, 255, 0, 5);
    box-shadow: 0 0 10px rgb(21, 255, 0, 0.5);
}

.tech-circles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0, 255, 8, 0.5);
    animation: flutter 3s linear infinite;
}

.circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
}

.circle:nth-child(2) {
    width: 300px;
    height: 300px;
    top: 60%;
    left: 60%;
}

.circle:nth-child(3) {
    width: 150px;
    height: 150px;
    top: 70%;
    left: 20%;
}

.circle:nth-child(4) {
    width: 180px;
    height: 180px;
    top: 20%;
    left: 80%;
}

@keyframes flutter {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}